################################################################################
# Common build directories
################################################################################
_builds/
build/

################################################################################
# Common install directories
################################################################################

# Assumes CMAKE_INSTALL_PREFIX is set to ${CWD}/install
install/

# Assumes CMAKE_INSTALL_PREFIX is set to ${CWD}
bin/
lib/

################################################################################
# Common IDE settings directories
################################################################################

.vscode/
